<%-include('header')-%>

<div class="text-center center-div mt-5" id="login">
<div class="container w-25 border py-5 mt-5">
  <h3>Logged in Successfully</h3>
  <p><%= locals.user ? user:"User"%></p>
  <a href="/route/logout">LogOut</a>
  

</div>

</div>







<%-include('footer')-%>
