body{
  background-color: #8D8DAA;
}
.centre-div{
  padding-top: 10%;
}
.btn.btn-success{
  margin-left: 7rem;
}
.title{
  font-style: italic;

}
.h2{
  color: #fff;
  font-style: normal;
}
.span{
  color:#fff;
}
